@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

html{
	font-family: 'Montserrat', sans-serif;
	src: url(fonts/Montserrat-Bold.ttf);
	src: url(fonts/Montserrat-Regular.ttf);

}

@media (min-width: 300px) {
	.logoExpresa{
		width: auto;
		height: 45px;
	}	
	.pPqña{
		width: 100%;
		height: 480px;
	}
	.fontMonsePQ{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		letter-spacing: -1.5px;
		line-height: 120%;
		font-size: 2.8em;
	}
	.fontMonsePQ-P{
		font-family: 'Montserrat', sans-serif;
		letter-spacing: -1.5px;
		line-height: 120%;
		font-size: .7em;
	}
}

@media (min-width: 1200px) {
	.logoExpresa{
		width: auto;
		height: 70px;
	}
	.orden1{
		order: 1;
	}
	.orden2{
		order: 2;
	}
	.fontMonsePQ{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		letter-spacing: -1.5px;
		line-height: 120%;
		font-size: 5em;
	}
	.pMed{
		height: 400px;
	}		
}

@media (min-width: 991px) {
	.logoExpresa{
		width: auto;
		height: 70px;
	}
	.orden1{
		order: 1;
	}
	.orden2{
		order: 2;
	}

}



/*.sliderLS{
	width: auto;
	height: 300px;	
}

.sliderLS-img{
	height: 100% !important;
    width:  100% !important;
    border: 1px solid red;
}

.bannerLS{
	height: 450px;

} */

/*.fontMonse{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: -1.5px;
	line-height: 120%;
	font-size: 5em;

} */

.fotoMerch{


}




/*

      <div class="container "> 
        <div class="row justify-content-center align-items-center d-flex"">
          <h2 class="col-lg-6 col-10 order-2 order-sm-1 fontMonse text-md-right text-center text-danger   animated bounceInLeft delay-0.5s">Sublimados<br><p class="h1 text-dark mt-md-3   animated bounceInUp delay-0.5s ">Sobre toda superficie</p></h2>
          <div class="col-lg-6 col-10 order-1 order-sm-2   animated bounceInDown delay-0.5s"><img src="img/taza.png" alt="" class="img-fluid float-left m-4 "></div>
        </div>
      </div> <!-- Fin Impresión digital -->
        
      <div class="container "> 
        <div class="row justify-content-center align-items-center d-flex"">
          <h2 class="col-lg-6 col-10 order-2 order-sm-1 fontMonse text-md-right text-center text-danger   animated bounceInLeft delay-0.5s">Impresión Digital <br><p class="h1 text-dark mt-md-3   animated bounceInUp delay-0.5s ">Resolución 1440 dpi</p></h2>
          <div class="col-lg-6 col-10 order-1 order-sm-2   animated bounceInDown delay-0.5s"><img src="img/packExpresa.png" alt="" class="img-fluid float-left m-4 "></div>
        </div>
      </div> <!-- Fin Impresión digital -->
        
      <div class="container "> 
        <div class="row justify-content-center align-items-center d-flex"">
          <div class="col-lg-6 col-10 order-1 order-sm-2   animated bounceInDown delay-0.5s"><img src="img/tomaTodo1.png" alt="" class="img-fluid float-left m-4 "></div>
          <h2 class="col-lg-6 col-12 order-2 order-sm-1 fontMonse text-md-right text-center text-danger   animated bounceInLeft delay-0.5s">Productos Personalizados<br><p class="h1 text-dark mt-md-3   animated bounceInUp delay-0.5s ">Resolución 1440 dpi</p></h2>
        </div>
      </div> <!-- Fin Impresión digital -->


      */